/***** MOBILE FIRST  *****/

/*** GENERAL STYLES ***/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  height: 75px;
  background-color: #2083F7;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


/** UTILITIES **/

/* DEBUG */

.debug {
  background-color: deeppink;
}

/* LAYOUT */

.container {
  width: 85%;
  margin: 0 auto;
}

.row {
  width: 100%;
}

.col {
  width: 100%;
}

/* FLEX */

.d-flex {
  display: flex;
}

/* BUTTON */

.btn {
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

/* TEXT */

.text-center {
  text-align: center;
}


/*** SITE SECTIONS ***/

/** HEADER **/

header .container {
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu {
  color: #fff;
  font-size: 1.3rem;
}

.menu {
  display: none;
}

.menu li {
  margin-left: 30px;
}

.menu a {
  color: #fff;
}

.menu a:hover {
  text-decoration: underline;
}

.menu .btn {
  background-color: #fff;
}

.menu .btn a {
  color: #000;
}

.menu .btn a:hover {
  text-decoration: none;
}


/** MAIN **/

/* FEATURES SECTION */

.features {
  padding: 50px 0;
  font-weight: bold;
}

.features .row {
  flex-wrap: wrap;
}

.features .col {
  background-color:#B5DDFB;
  margin-bottom: 25px;
  border-radius: 15px;
  padding: 30px;
}

.features .col:first-child {
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
}

.features h2 {
  color: #2083F7;
  margin-bottom: 35px;
}

.features p {
  color: #5B6E7F;
  line-height: 30px;
}

.features .btn {
  width: 210px;
  background-color: #2083F7;
  color: #fff;
  margin: 35px 0;
}

.features .btn a {
  color: #fff;
}

.features .col:first-child img {
  width: 250px;
  display: block;
  margin: 0 auto;
}

/* PLANNING SECTION */

.planning {
  background-color: #9792E4;
  padding: 60px 0;
}

.planning .col:first-child img {
  margin-bottom: 60px;
}

.planning .col:first-child h2{
  margin-bottom: 50px;
}

.planning .col:last-child {
  background-color: #fff;
  border-radius: 50px;
  margin-top: 30px;
}

/* TESTIMONIAL SECTION */

.testimonials {
  padding: 65px 0 75px;
  text-align: center;
}

.testimonials h2 {
  color: #9792E4;
  margin: 35px 0;
}

.testimonials p {
  margin-bottom: 50px;
}

.testimonials .col {
  background-color: #9792E4;
  border-radius: 50px;
  margin-bottom: 35px;
  padding: 30px 20px;
  color: #fff;
}

.testimonials img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.testimonials blockquote {
  margin-bottom: 25px;
}

/* BENEFITS SECTION */

.benefits {
  
}



 











  
  






/**** RESPONSIVE ****/

/*** TABLET  ***/

@media screen and (min-width: 480px) {

  /** MAIN **/

  /* FEATURES SECTION */

  .features .row {
    justify-content: space-between;
  }

  .features .col {
    width: calc((100% - 50px) / 3);
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .features .col:first-child {
    width: calc(((100% - 25px) / 3) * 2);
    padding-bottom: 0;
  }

  .features .col:first-child img {
    margin: 0;
  }

  /* PLANNING SECTION */

  .planning .col:first-child img {
    padding-top: 70px;
  }

  /* TESTIMONIAL SECTION */

  .testimonials .col {
    padding: 30px 15px;
    display: flex;
    align-items: center;
    text-align: left;
  }

  .testimonials img {
    margin-right: 30px;
  }



  

  

 



  




  
  

}

/*** DESKTOP ***/

@media screen and (min-width: 841px) {

  /** UTILITIES **/

  .container {
    max-width: 1140px;
  }

  /** HEADER **/

  .hamburger-menu {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  /** MAIN **/

  /* FEATURES SECTION */

  .features .col:first-child .text-box {
    width: 50%;
  }

  .features .col:first-child {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  /* PLANNING SECTION */
  .planning .container {
    width: 75%;
    max-width: 878px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

  .planning .col {
    width: calc((100% - 80px) /2);
  } 





  

}

